@font-face {
    src: url("../assets/fonts/Roboto-Black.ttf");
    font-family: roboto-black;
}

@font-face {
    src: url("../assets/fonts/Roboto-Medium.ttf");
    font-family: roboto-medium;
}

@font-face {
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-family: roboto-regular;
}

@font-face {
    src: url("../assets/fonts/Roboto-Thin.ttf");
    font-family: roboto-thin;
}