$navigation-height: 85px;

@import "homepage.scss";
@import "navigation.scss";

@import "imports.scss";
@import "animations.scss";

* {
    box-sizing: border-box;
}

html, body, #REACT_MOUNT, .homePage {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}