<!DOCTYPE html>
<html lang="cs">
  <!-- icons are from: https://fontawesome.com/license -->
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Pavel Sušický">
    <meta name="description" content="Portfolio of young web developer from Czech republic. He works with React.js, redux.js and more!">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="REACT_MOUNT"></div>
  </body>
</html>