<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Pavel Sušický">
    <meta name="keywords" content="portfolio">
    <meta name="description" content="Portfolio of developer Pavel Sušický">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="REACT_MOUNT"></div>
  </body>
</html>